.popup__title_theme_bright {
    color: #fff;
    text-align: center;
    margin: 60px auto 50px;
}

@media screen and (max-width: 1060px) {
    .popup__title_theme_bright {
        margin: 40px auto;
    }
}