.popup__save-button {
    width: 358px;
    background-color: #000;
    border: none;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    padding: 13px 0;
    margin: 20px 0;
    cursor: pointer;
}

@media screen and (max-width: 1060px) {
    .popup__save-button {
        width: 238px;
        line-height: 17px;
        font-size: 14px;
    }
}