.popup__save-button_theme_bright {
    background-color: #fff;
    color: #000;
    margin: 186px auto auto;
}

@media screen and (max-width: 1060px) {
    .popup__save-button_theme_bright {
        margin-top: 143px;
    }
}